spring:
  application:
    name: springboot-prometheus
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: always
  metrics:
    export:
      prometheus:
        enabled: true
server:
  port: 80
  address: 0.0.0.0  # 绑定所有网卡地址，允许外部访问

